{% extends 'main.html' %}
{% load static %}

{% block content %}

<br>
<main class="projects">
    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">
                {% comment %} one card {% endcomment %}
                {% for project in projects %}
                <div class="column">
                    <div class="card project">
                        <a href="{% url 'project' project.id %}" class="project">
                            <img class="project__thumbnail" src="{{project.featured_image.url}}" alt="project thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title">{{project.title}}</h3>
                                {% comment %} <p><a class="project__author" href="">By
                                        {{project.owner.name}}</a> 
                                </p> {% endcomment %}
                                <div class="project__tags">
                                    {% for tag in project.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag}}</small>
                                    </span>
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
</main>
<div class='container'>
    <div class='row'>
        <div class='col-md-3'>
            <div id="profile-wrapper" class='card card-body h-100'>
                <img id="profile-pic" src="{% static '/images/profile.jpg' %}" alt="">
                <hr>
                <h2>Hello, I am Mohammad!</h2>
                <p>I’m interested in coding and developing software with Python</p>
                <ul class='social-links'>
                    <li><a href="https://www.linkedin.com/in/mohammad-sulayman-rezaie-ab6940223/"><i class="social fab fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/msrezaie"><i class="social fab fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <br>
        <div class='col-md-9'>
            <div class='card card-body h-100'>
                <h2>My Story</h2>
                <hr>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad ea asperiores incidunt commodi ex nostrum eos inventore quos similique accusantium beatae, distinctio, animi molestiae fuga, aperiam id. Dolorum, autem ducimus.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita voluptatem repellat hic excepturi error impedit, consequatur ad aliquam vel perspiciatis deleniti quos quibusdam libero animi facere nulla minus doloremque qui?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odio architecto expedita ipsa rerum nam rem commodi atque adipisci repudiandae non ipsum optio, minus nesciunt doloremque assumenda? Asperiores, quas deleniti.</p>
            </div>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class='col-lg-12'>
            <div class='card card-body h-100'>
                <h2>Projects</h2>
    
            </div>
        </div>
    </div>
</div>
{% endblock content %}